/*LOGIN E CADASTRO*/

body, html {
    margin: 0;
    padding: 0;
    font-family: "Inter Tight", sans-serif;
    background-color: white;
    color: #111;
}

.container {
    display: flex;
    height: 100vh;
}

.left {
    flex: 1;
    background-color: #000;
}

.left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right {
    flex: 1;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
}

.logo {
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.right h2 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.terms {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"] {
    padding: 15px;
    margin-bottom: 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="email"] {
    padding: 15px;
    margin-bottom: 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="password"] {
    padding: 15px;
    margin-bottom: 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: #000;
    color: white;
    padding: 15px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.divider {
    text-align: center;
    margin: 20px 0;
    font-size: 0.9rem;
    color: #999;
}

.buttons {
    display: flex;
    gap: 10px;
}

.buttons button {
    flex: 1;
    padding: 12px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
    font-weight: bold;
}

/*HEATHER*/

body{
    margin: 0;
    padding: 0;
    font-family: "Inter Tight", sans-serif;
    background-color: #ffffff;
}

.header{
    height: 90px;
    border-bottom: 2px solid #ffffff;
}

.titulo{
    color: #3b3e3f;
    width: fit-content;
    font-weight: 300;
}

.container{
    display: flex;
    width: 80%;
    margin: auto;
}

.header .container{
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: #3b3e3f;
}

.header a{
    text-decoration: none;
    color: #3b3e3f;
}

.agora{
    font-weight: 800;
}