body {
  font-family: "Inter Tight", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.comidas {
  background-color: #ffffff;
  color: #320a38
}

h1 {
  font-weight: 500;
  padding: 20px 200px;
}

.box {
  width: 450px;
  height: 280px;
  overflow: hidden;
  border-radius: 5px;
}

.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.conteudo-receita {
  padding: 10px 20px;
  max-width: 800px;
  margin: 0px 200px;
}

.ingredientes,
.preparo {
  margin-bottom: 30px;
}

h2 {
  color: #320a38;
  margin-bottom: 20px;
}

h3 {
  color: #320a38;
  margin-bottom: 20px;
}

.topo-receita {
  padding: 10px 200px;
  display: flex;
  gap: 50px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.lado-esquerdo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.label-select {
  margin-top: 20px;
  font-weight: bold;
  color: #320a38;
}

.rendimento {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
}

select {
  padding: 4px 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 13px;
}

.lado-direito {
  flex: 1;
  max-width: 400px;
  background-color: #ffffff;
  border-color: #320a38;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.199);
}

.tempo-preparo {
  font-size: 22px;
  margin-bottom: 10px;
}

.descricao-receita {
  font-size: 16px;
  line-height: 1.5;
}

.botao-favorito {
  background-color: #ffffff;
  color: #3d0f44;
  border-radius: 5px;
  border: none;
  padding: 8px 20px;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
}

.botao-favorito:hover {
  transform: scale(1.02);
}