* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Inter Tight", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
    position: sticky;
    top: 0;
    background-color: #b1513e;
    color: #ffffff;
}

.logo {
    font-size: 26px;
    color: #ffffff;
    font-weight: 200px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    transition: color 0.2s ease;
}

nav a:hover {
    color: #a79b95;
}


h2 {
    text-align: center;
    font-weight: 500;
}

.card-receita {
    border: 2px solid #ddd;
    border-radius: 12px;
    margin: 30px;
    padding: 15px;
    width: 350px;
    margin-bottom: 15px;
    background-color: #fff6f6;
    box-shadow: 2px 2px 8px #1a1a1a75;
    color: #320a38;
    flex: 1;
    min-width: 300px;
    text-align: center;
}   

.card-receita h3 {
    margin-top: 0;
}

.desfavoritar {
    background-color: #ffcccc;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
}

.desfavoritar:hover {
    background-color: #ff9999;
}

.containerFav {
    border: 2px solid #ddd;
    border-radius: 12px;
    margin: 30px;
    width: 320px;
    height: 300px;
    margin-bottom: 15px;
    background-color: #fff6f6;
    box-shadow: 2px 2px 8px #1a1a1a44;
    color: #320a38;
    flex: 1;
    min-width: 300px;
    cursor: pointer;
}

.containerFav:hover {
    transform: scale(1.02);
}

.containerFav img {
    width: 316px;
    height: 160px;
    object-fit: cover;
    border-radius: 12px;
}

h5 {
    font-weight: 400;
    text-align: center;
}

p {
    font-size: 18px;
    margin: 20px;
    text-align: center;
    padding: 10px;
}

.graficoPie {
    min-height: 200px;
    max-height: 300px;
    flex: 1;
}

.graficoTop {
    min-width: 300px;
    max-width: 500px;
    flex: 1;
}

canvas {
    width: 100%;
    height: 70%;
}


.receitasFavoritadas {
    padding: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    padding: 20px 0px;
}


.conteudo-dashboard {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
    padding: 20px;
    flex-wrap: wrap;
}

/* Coluna da esquerda */
.coluna-esquerda {
    flex: 1;
    max-width: 380px;
}

/* Coluna da direita com KPIs e gráficos */
.coluna-direita {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}

/* KPIs */
.kpis {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.kpi {
    background-color: #fff6f6;
    border: 2px solid #ffdcdc;
    border-radius: 12px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 1;
    min-width: 180px;
    max-width: 300px;
    text-align: center;
    color: #320a38;
}

.graficos {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.listaCompras {
    border: 2px solid #ddd;
    border-radius: 12px;
    margin: 30px;
    width: 320px;
    height: 300px;
    margin-bottom: 15px;
    background-color: #fff6f6;
    box-shadow: 2px 2px 8px #1a1a1a85;
    color: #320a38;
    flex: 1;
    min-width: 300px;
    cursor: pointer;
}
