.banner{
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.banner .img{
    height: 450px;
    color: #ffffff;
    background-image: url('../img/home_3.jpeg');
    background-size: cover;
}

.container {
    align-items: center;
    height: 100%;
    padding: 130px;
}

.container h1{
    margin: 0;
    padding: 0;
    font-weight: 400;
    text-align: center;
}

.container p{
    margin: 0;
    padding: 0; 
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}

.botaoCadastro {
    background-color: #ffffff;
    color: #152038;
    border-radius: 5px;
    border: none;
    padding: 15px 25px;
    cursor: pointer;
}
