* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter Tight", sans-serif;
    background-color: #b1513e;
    color: #ffffff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    position: sticky;
    top: 0;
    background-color: #b1513e;
    z-index: 1000;
}

.logo {
    font-size: 26px;
    color: #ffffff;
    font-weight: 200px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    transition: color 0.2s ease;
}

nav a:hover {
    color: #a79b95;
}

/*FOTTER*/

footer {
    background-color: #3c5e34;
    color: white;
    padding: 20px 40px;
    text-align: center;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: auto;
  }
  
  footer nav {
    margin-top: 10px;
  }
  
  footer nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 14px;
  }
  
  footer nav a:hover {
    text-decoration: underline;
  }


